<div class="container center mb-3">
  <%= image_tag("Wack_Logo.png", class: "wackLogo") %>
</div>

<div class="container center mb-3">
  <h3 class="home_header"><%= current_user.name + "!" %></h3>
</div>

<div class="container home_thisweekswacks">
    <h4 class="home_header">Your Wack Schedule This Week</h4>
    <div class="home_schedcal">
      <%= render partial: 'shared/calendar/calendar', locals: {calendar_type: 7, linked_from: :welcome} %>
    </div>
</div>

<div class="container home_scores d-flex justify-content-center pb-5 mb-4">
  <div class="bigcircle mr-5">
    <%= 0 %>
    <div class="user_score">LIFETIME WACKS</div>
  </div>

  <!--very hacky to get the names on 2 lines (not 1 or 3) -->
  <div class="bigcircle">
    <%= 0 %><div class="user_score">WACKS LAST<span class="pl-1">WEEK</span></div>
  </div>
  <div class="bigcircle ml-5">
    0.0<div class="user_score">WACK AVERAGE</div>
  </div>
</div>

<div class="container center mb-4">
  <%= image_tag("DailyWack_Logo.png", class: "wackLogo") %>
  <p class="home_text1 mt-2 px-3 mb-0">Today's Follow-Along Workout</p>
  <p class="home_text1 px-3 mb-2">Hand-Picked & Reviewed by our Pros</p>
  <p class="home_text2 px-3">at <a href="https://www.thespacejuhu.in" target="_blank" class="home_spacelink">The Space</a>, Mumbai</p>
</div>

<div class="p-flex">

    <div class = "container">
      <div class="row bg-dark px-1 pt-2 pb-1 text-center">
        <div class ="col-12">
          <h4 class="WorkoutName-s">
            <%= @workout.name.upcase %>
          </h4>
        </div>
      </div>
    </div>

    <div class = "container bg-light p-1 text-center">
        <div class="brand-s">BY <%= @workout.brand ? @workout.brand.upcase : "BRAND" %></div>
    </div>

    <div class="container px-1 mb-2">
       <div class="row bg-light py-1 mx-0">
        <div class ="col-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src=<%= @workout.url + "?modestbranding=1" %> allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

       <div class="row bg-light">
        <div class ="col-12">
          <div class ="col-8 wkstyle-s">
              <div class="wkstyle-s-s"><%= @workout.style %></div>
              <div class="wkstyle-f-s"><%= @workout.bodyfocus %></div>
              <div><%= @workout.equipment ? "Equipment: #{@workout.eqpitems}" : "No equipment"%></div>
              <div><%= @workout.intensity%></div>
              <div><%= "#{@workout.length} minutes"%></div>
          </div>

        </div>
      </div>

      <div class="row bg-dark py-1 mx-0">
        <div class ="col-12">
           <div class="spacesays-s"><%= "\"#{@workout.spacesays}\""%></div>
           <div class="comment-s"><%= "#{pluralize(@workout.microposts.count, "comment")}"%></div>
        </div>
      </div>

    </div>

<% if !logged_in? || current_user.demo? %>
  <div class="container mb-4 mt-4">
      <%= render partial: 'sessions/loginform', locals: {pagecaller: "welcome"}  %>
  </div>
<% end %>

<div class="container center my-4">
  <p class="home_text3 mt-2">Work it, Track it, Wack it</p>
</div>

<!--div class="center jumbotron mb-0" style="position:relative;margin-left:-15px;margin-right:-15px;">
  <ul class= "wacktext1" style="list-style-type:none;padding-inline-start:0;">
    </ul>
    <p class="wacktext3">Work it, Track it, Wack it</p>
</div-->
