<div class="center jumbotron">
  <h1>WeeklyWack</h1>
  <p>..for Wacking on your own or in small groups</p>
  <h3>This week's wack</h3>
  <table class ="Problemtable">

    <thead>
      <tr>
        <th>Name</th>
        <th>Style</th>
        <th>Length</th>
        <th>Intensity</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= link_to @workouts.first.name, "http://#{@workouts.first.url}", target: "_blank" %></td>
          <td><%= @workouts.first.style %></td>
          <td><%= @workouts.first.length %></td>
          <td><%= @workouts.first.intensity %></td>
        </tr>

    </tbody>
  </table>
<% unless logged_in? %>
  <%= link_to "Sign up Now to Keep on Wacking!", signup_path, class: "btn btn-lg btn-primary" %>
<% end %>
</div>
