<div class="center jumbotron mb-0" style="position:relative;margin-left:-15px;margin-right:-15px;">
  <ul class= "wacktext1" style="list-style-type:none;padding-inline-start:0;">
    <li>Follow-Along Workouts</li>
    <li>Best of the Web</li>
    <li>Home or Gym</li>
    <li>Selected & Reviewed by our Pros<super>*</super></li>

    <li class="wacktext2"><super>*</super>at <a href="https://ww.thespacejuhu.in">The Space</a>, Mumbai Fitness Centre</li>

     <br>
     <li class="wacktext2">bodyweight barbell row, bike, dumbell, yoga, mobility, HIIT, strength, cardio, upper body, lower body, abs, hip, hamstring, mind, kettlebell, skip, stretch</li>
     <br>
    <li class="wacktext2">Choose your style, Choose your Instructor, Beginner to Beast, Easy Search, Log your Progress, Free for all</li>
    </ul>

    <p class="wacktext3">Work it, Track it, Wack it</p>

</div>


  <div class="p-flex">

    <% unless logged_in? %>
    <div class = "container mt-2 text-center">
      <%= link_to "Sign up Now for Free for the Full Wack!", signup_path, class: "btn btn-lg btn-primary btnpost" %>
    </div>
    <% end %>

    <div class = "container mt-2 text-center mb-3">
      <%= link_to "Just Take me to The Workouts!", workouts_path, class: "btn btn-lg btn-primary btnpost" %>
    </div>

    <div class="container mb-3">
        <hr class = "search"></hr>
    </div>

    <div class = "container">
      <div class="row bg-dark px-1 pt-2 pb-1 text-center">
        <div class ="col-12">
          <h4 class="WorkoutName-s">
            This Week's Workout
          </h4>
        </div>
      </div>
    </div>
<br>
    <div class = "container">
      <div class="row bg-dark px-1 pt-2 pb-1 text-center">
        <div class ="col-12">
          <h4 class="WorkoutName-s">
            <%= @workouts.first.name %>
          </h4>
        </div>
      </div>
    </div>

    <div class = "container bg-light p-1 text-center">
        <div class="brand-s">BY <%= @workouts.first.brand ? @workouts.first.brand.upcase : "BRAND" %></div>
    </div>

    <div class="container px-1 mb-2">
       <div class="row bg-light py-1 mx-0">
        <div class ="col-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src=<%= @workouts.first.url %> allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
       <div class="row bg-light">
        <div class ="col-12">
            <div class="wkstyle-s">Style: <%= @workouts.first.style %></div>
            <div class="wkstyle-s">Focus: <%= @workouts.first.bodyfocus %></div>
            <div class="wkstyle-s">Equipment: <%= @workouts.first.equipment ? @workouts.first.eqpitems : "None"%></div>
            <div class="wkstyle-s">Level: <%= @workouts.first.intensity%></div>
            <div class="wkstyle-s">Duration: <%= "#{@workouts.first.length} minutes"%></div>
        </div>
      </div>

    </div>

    <div class="row bg-dark py-1 mx-0">
      <div class ="col-12">
         <div class="spacesays-s"><%= "\"#{@workouts.first.spacesays}\""%></div>
         <div class="comment-s"><%= "#{pluralize(@workouts.first.microposts.count, "comment")}"%></div>
      </div>
    </div>



</div>
