<div class="center jumbotron">
  <h1>WeeklyWack</h1>
  <p>..for Wacking on your own or in small groups</p>
  <h3>This week's wack</h3>

      <div class="p-flex"><div class="p-flex-in">
            <div class = "bg-dark text-center ml-2 mr-2 mb-0"><h4 class ="InstructorName"><%= @workouts.first.name %></h4></div>
        <div class="container">
           <div class="row p-1 bg-light">
            <div class ="col-4">
              <div class="p-goal"><%= @workouts.first.style %></div>
              <div class="p-goal"><%= @workouts.first.length %></div>
              <div class="p-goal"><%= @workouts.first.intensity %> Intensity</div>
            </div>
              <div class ="col-6">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src=<%= @workouts.first.url %> allowfullscreen></iframe>
              </div>
            </div>
<% unless logged_in? %>
<div class = "container mt-2 text-center">
  <%= link_to "Sign up Now to Keep on Wacking!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
