<form action="/workouts" method="GET">

  <div class="container search">
    <input class="form-control-sm mb-2 search" type="text" name="search_name" placeholder="Search workouts…" value= <%= session[:search_name] %>  >
    <i class="fa fa-search"></i>
  </div>

  <div class="container">
      <hr class = "search"></hr>
  </div>

  <div class="container search">
    <select class="form-control-sm mb-2 search pr-3" name="filter_option" onchange="this.form.submit()">
      <option disabled="disabled" selected="selected" value="">Style</option>
      <% Rails.application.config_for(:workoutinfo)["styles"].each do |style| %>
        <option value="<%= style %>" <%="selected" if session[:filter_option] == style%>><%= style %></option>
      <% end %>
    </select>

    <%= link_to favourites_path, class: "search" do%>
    <i class="<%= session[:favesonly] == true ? "fas fa-heart pl-1 pr-2" : "fas fa-heart-broken pl-1 pr-2" %>"></i>
    <% end %>

    <%= link_to clear_path, class: "search" do%>
    <i class="fa fa-trash"></i> Filters
    <% end %>
  </div>
</form>
