<%= form_with(model: workout, local: true) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :style, "Style" %>
    <!--see config/workoutinfo.yml-->
    <%= form.select :style, Rails.application.config_for(:workoutinfo)["styles"]%>
  </div>

  <div class="field">
    <%= form.label :url, "URL" %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :length, "Length" %>
    <%= form.number_field :length, in: 10..120, step: 5 %>
  </div>

  <div class="field">
    <%= form.label :intensity, "Intensity" %>
    <!--see config/workoutinfo.yml-->
    <%= form.select :intensity, Rails.application.config_for(:workoutinfo)["intensities"]%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
