<%= form_for(@workout, url:object) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :style, "Style" %>
    <!--see config/workoutinfo.yml-->
    <%= form.select :style, Rails.application.config_for(:workoutinfo)["styles"]%>
  </div>

  <div class="field">
    <%= form.label :bodyfocus, "Body Focus" %>
    <!--see config/workoutinfo.yml-->
    <%= form.select :bodyfocus, Rails.application.config_for(:workoutinfo)["bodyfocus"]%>
  </div>

  <div class="field">
    <%= form.label :url, "URL" %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :length, "Length" %>
    <%= form.number_field :length, in: 10..90, step: 1 %>
    <%#= form.range_field :length, in: 10..120, step: 5 %>
  </div>

  <div class="field">
    <%= form.label :intensity, "Intensity" %>
    <!--see config/workoutinfo.yml-->
    <%= form.select :intensity, Rails.application.config_for(:workoutinfo)["intensities"]%>
  </div>

  <div class="field">
    <%= form.label :brand, "Brand" %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :equipment, "Equipment Needed" %>
    <%= form.select :equipment, [true, false]%>
  </div>


  <div class="field">
    <%= form.label :eqpitems, "Equipment Items" %>
    <%= form.text_field :eqpitems %>
  </div>

  <div class="field">
    <%= form.label :spacesays, "The Space Says" %>
    <%= form.text_area :spacesays %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
