<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @schedulings.each do |scheduling| %>
      <tr>
        <td><%= scheduling.name %></td>
        <td><%= scheduling.start_time %></td>
        <td><%= link_to 'Show', scheduling %></td>
        <td><%= link_to 'Edit', edit_scheduling_path(scheduling) %></td>
        <td><%= link_to 'Delete', scheduling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
