# temp file used for updating workout_short_name through the browser
<%= form_with(model: workout, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :short_name %>
    <%= form.text_field :short_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
