    <div class="p-flex" id="<%= workout.name.split.join.downcase %>" ><!--div class="p-flex-in"-->
      <div class = "container bg-light p-1 mb-1">
        <h4 class="WorkoutName-i">
            <%= link_to workout.name.upcase, workout%>
        </h4>
      </div>
      <div class="container p-1 bg-light">
         <div class="row bg-light py-1 mx-0">

          <div class ="col-5 p-0">
            <div class="brand-i mb-1"><%= workout.brand ? workout.brand.upcase : "BRAND" %></div>
            <div class="wksummary">
              <div class="wkstyle-i"><%= workout.style%></div>
              <div class="wkstyle-i"><%= workout.bodyfocus%></div>
              <div class="wkstyle-i"><%= workout.intensity%></div>
              <div class="wkstyle-i"><%= "#{workout.length} minutes"%></div>
            <!--div class="p-goal"><#%= workout.equipment ? workout.eqpitems : "no equipment"%></div-->
            </div>
          </div>
          <div class ="col-7 p-0">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src=<%= workout.url %> allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <div class="row bg-dark py-1 mx-0">
          <div class ="col-12">
             <div class="spacesays-i"><%= "\"#{workout.spacesays}\""%></div>
             <div class="comment-i"><%= link_to "#{pluralize(workout.microposts.count, "comment")}", workout%></div>
          </div>
        </div>
      </div>

      <!-- Trigger -->
      <%= button_tag "Copy", class: "btnX", type: "button", data: {clipboard_text: "http://www.wackit.in/workouts/?search_name=#{workout.name}##{workout.name.split.join.downcase}"} do %>
      <i class="fas fa-clipboard"></i>
      <% end %>

      <div class="container">
         <div class="row bg-light py-1 mx-0">
          <div class ="col-12">
             <% if setting == "addcommentyes" %>
             <section class="mt-1"><%= render 'shared/micropost_form' %></section>
             <% end %>
          </div>
        </div>
      </div>

      <div class = "container bg-light p-1 mb-1">
        <% if current_user && current_user.admin? %>
        <div class="p-edit pl-0"><%= link_to 'Edit', edit_workout_path(workout), class: "admin" %></div>
        <div class="p-edit pl-0"><%= link_to 'Delete', workout, method: :delete, data: { confirm: "Are you sure? All workout data for #{workout.name} will be lost." }, class: "admin" %></div>
        <% end %>
      </div>

      <!--/div--></div>
