<% provide(:title, 'All Workouts') %>
<p id="notice"><%= notice %></p>

<h2>All Workouts</h2>

<%= will_paginate %>

<table class ="Problemtable">

  <thead>
    <tr>
      <!--th><%#= link_to "Name", {:sort => "name"}, {title: 'Name', "data-toggle" => "tooltip"} %></th>
      <th><%#= link_to "Style", {:sort => "style"}, {title: 'style', "data-toggle" => "tooltip"} %></th>
      <th><%#= link_to "URL", {:sort => "url"}, {title: 'urly', "data-toggle" => "tooltip"} %></th-->
      <th><%= sortable "name", "Name", "Name"%></th>
      <th><%= sortable "style", "Style", "Style"%></th>
      <th><%= sortable "length", "Length", "Length"%></th>
      <th><%= sortable "intensity", "Intensity", "Intensity"%></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= link_to workout.name, "#{workout.url}", target: "_blank" %></td>
        <td><%= workout.style %></td>
        <td><%= workout.length %></td>
        <td><%= workout.intensity %></td>
        <td><iframe width="140" height="78" src="https://www.youtube.com/embed/SNNKQlkoPqQ">
        </iframe></td>

        <% if current_user && current_user.admin? %>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Delete', workout, method: :delete, data: { confirm: "Are you sure? All workout data for #{workout.name} will be lost." } %></td>
        <% end %>

      </tr>
    <% end %>

  </tbody>
</table>
    <ul class="listgroup-table pl-0">
    		<em>click underlined headings to sort:</em>
    </ul>

<% if current_user && current_user.admin? %>
<%= link_to 'New Workout', new_workout_path %>
<% end %>
