<% provide(:title, 'All Workouts') %>
<%= render 'workouts/filterform' %>
<% if current_user && current_user.admin? %>
  <div class="container search mb-2">
  <%= link_to 'New Workout', new_workout_path, class: "admin" %>
  </div>
<% end %>

  <!-- 3. Instantiate clipboard by passing a string selector -->
  <script>
  var clipboard = new Clipboard('.btnX');

  clipboard.on('success', function(e) {
      console.log(e);
  });

  clipboard.on('error', function(e) {
      console.log(e);
  });
  </script>

<!--script type="text/javascript">
  var clipboard = new Clipboard(btn);
  // Success
  clipboard.on('success', function(e) {
   console.log(e);
  });
  // Error
  clipboard.on('error', function(e) {
   console.log(e);
  });
</script-->

<div class="container mb-0">
<%= will_paginate %>

<%= render @workouts, setting: "addcommentno" %>

<%= will_paginate %>
</div>

<% if false %>
<div class="container p-goal mt-1 mb-0">
  <ul class="Sort mb-0 ">
    <li> Sort by:</li>
    <li class="Witharrow"> <%= sortable "name", "Name", "Name"%></li>
    <li class="Witharrow"><%= sortable "style", "Style", "Style"%></li>
    <li class="Witharrow"><%= sortable "length", "Length", "Length"%></li>
    <li class="Witharrow"><%= sortable "intensity", "Intensity", "Intensity"%></li>
    </ul>
</div>
<% end %>
