<% provide(:title, 'All Workouts') %>

<h2>All Workouts</h2>

<%= render 'workouts/filterform' %>

<% if current_user && current_user.admin? %>
<%= link_to 'New Workout', new_workout_path %>
<% end %>

<div class="container mb-0">
<%= will_paginate %>
</div>

  <%= render @workouts, setting: "addcommentno" %>

<% if false %>
<div class="container p-goal mt-1 mb-0">
  <ul class="Sort mb-0 ">
    <li> Sort by:</li>
    <li class="Witharrow"> <%= sortable "name", "Name", "Name"%></li>
    <li class="Witharrow"><%= sortable "style", "Style", "Style"%></li>
    <li class="Witharrow"><%= sortable "length", "Length", "Length"%></li>
    <li class="Witharrow"><%= sortable "intensity", "Intensity", "Intensity"%></li>
    </ul>
</div>
<% end %>
