<% provide(:title, 'All Workouts') %>
<!-- the explicit 'partial:' key after 'render' is not required-->
<%= render 'workouts/filterform' %>
<% if current_user && current_user.admin? %>
  <div class="container search mb-2">
  <%= link_to 'New Workout', new_workout_path, class: "admin" %>
  </div>
<% end %>

<!-- Instantiate clipboard by passing a string selector -->
<script>
var clipboard = new Clipboard('.btnX');

clipboard.on('success', function(e) {
    console.log(e);
});

clipboard.on('error', function(e) {
    console.log(e);
});
</script>

<div class="container px-1 mb-0">
  <%= will_paginate %>
    <%= render @workouts, setting: "addcommentno" %>
  <%= will_paginate %>
</div>
