<%= form_with model: nil, scope: :session, url: login_path, local: true, html: {class: "login-form"} do |form| %>

<%= hidden_field_tag 'pagecaller', pagecaller  %>

<div class="container center py-1"><span>Login or <%= link_to "Sign up", signup_path %> for the Full Wack!</span></div>

<%= form.label :email %>
<%= form.email_field :email, class: 'form-control' %>

<%= form.label :password %>
<%= link_to "(forgot password)", new_password_reset_path %>
<%= form.password_field :password, class: 'form-control' %>

<%= form.label :remember_me, class: "checkbox inline" do %>
  <%= form.check_box :remember_me %>
  <span>Remember me on this computer</span>
<% end %>

  <div class="btnpositionmanager">
    <%= form.submit "Log in", class: "btn btnpost" %>
  </div>

<% end %>
