<%= form_for(@attempt) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :DoA, 'Date of Attempt' %>
    <%= f.date_field :DoA %>
  </div>
  <div class="field">
    <%= f.text_area :summary, placeholder: "Add your summary..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary btnpost" %>
<% end %>
