<% if calendar_type.is_a?(Integer) %>
  <%= week_calendar number_of_weeks: calendar_type, events: @schedulings do |date, schedulings| %>
  <%= date.strftime("%d/%m")  %>
  <% schedulings.each do |scheduling| %>
    <div>
      <%= scheduling.name %>
    </div>
  <% end %>
  <% end %>
<% else %>
  <%= month_calendar events: @schedulings do |date, schedulings| %>
  <%= date.strftime("%d/%m")  %>
  <% schedulings.each do |scheduling| %>
    <div>
      <%= scheduling.name %>
    </div>
  <% end %>
  <% end %>
<% end %>
