<%= form_with model: @micropost, local: true do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <div>
    <%= hidden_field_tag :workout_id, params[:id] %>
  </div>
  <div class="field">
    <%= form.text_area :content, placeholder: "Add your comment...", class: "full_width" %>
  </div>

  <%= form.submit "Post Comment", class: "btn btn-primary btnpost" %>
<% end %>
