<% start_date = params.fetch(:start_date_cal, Date.today).to_date %>
<% date_range = (start_date..start_date + cal_days - 1).to_a %>

<% if current_user && !current_user.demo? %>
  <%= link_to '<<', {start_date_cal: date_range.first - cal_days}, {class: "paginate_icon"} %>
  <span class="c_title d-none"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
  <%= link_to '>>', {start_date_cal: date_range.last + 1.day} , {class: "paginate_icon pl-2"} %>
<% end %>

<div class="grid-container-schedule-cal">
  <% date_range.slice(0,7).each do |day| %>
    <div class="c_days_of_week"><%= t("date.abbr_day_names")[day.wday] %></div>
  <% end %>
  <% date_range.each do |day| %>
    <div>
      <div class="c_days_of_month">
        <%= day.strftime('%d/%m') %>
      </div>
      <% @schedulings.select { |s| s.start_time.to_date == day}.each do |scheduling| %>
      <div class="c_scheduling_name"><%= link_to image_tag(scheduling.style_icon, class: "style_icon"), scheduling_path(scheduling, wk_url: wk_url ||= nil), class:"c_button btn" %></div>
      <div class="c_scheduling_start"><%= scheduling.start_time.strftime('%I:%M%P') %></div>
      <% end %>
    </div>
  <% end %>
</div>
