<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <% if setting == "usernameyes" %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="user">on <%= link_to "#{micropost.workout.name}", micropost.workout %></span>
  <% else %>
  <span class="user">on <%= link_to "#{micropost.workout.name}", micropost.workout %></span>
  <% end %>

  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %> ago.

    <% if current_user_or_admin?(micropost.user) %>
        <%= link_to micropost, method: :delete, data: { confirm: "Your comment will be deleted. Are you sure?" } do %>
          <i class="fa fa-trash"></i>
        <% end %>
    <% end %>

  </span>
</li>
