<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <% if setting == "usernameyes" %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="user">on <%= link_to "#{micropost.workout.name}", micropost.workout %></span>
  <% else %>
  <span class="user">on <%= link_to "#{micropost.workout.name}", micropost.workout %></span>
  <% end %>

<% if false %>  <span class="workout"><%= "on #{micropost.workout.name}" %></span> <% end %>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
</li>
