<!--
a) if a scheduling is associated with an existing workout then it is created with the
form in the workouts index (at /workouts)
b) if a scheduling is not associated with an existing workout then it is created with the
form at /schedulings (which provides a form for a new scheduling and an index of schedulings)
c) in both cases the scheduling can only be edited from the index of schedulings at /schedulings
d) if a scheduling is associated with an existing workout, the workout cannot be edited. -->
<%= form_with model: @scheduling, local: false do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <% if form_setting == 'edit' %>
    <%= form.submit "Update", class: "btn btnpost" %>
    <div><%= hidden_field_tag :workout_id, @scheduling.workout_id %></div>
    <div class="field">
      <% if @scheduling.workout_id.nil? %>
        <%= form.label :name %>
        <%= form.text_field :name %>
      <% else %>
        <%= form.label :name, "#{Workout.find(@scheduling.workout_id).name}" %>
      <% end %>
    </div>

  <% elsif form_setting == "sch_index" %>
<!-- new scheduling, not associated with an existing workout -->
    <%= form.submit "Schedule", class: "btn btn-primary btnpost" %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <% else %>
<!-- new scheduling, associated with an existing workout -->
    <%= form.submit "Schedule #{workout.name}", class: "btn btn-primary btnpost" %>
    <div><%= hidden_field_tag :workout_id, workout.id %></div>
    <div><%= hidden_field_tag :wk_url, wk_url %></div>
  <% end %>

  <div class="field field_dates">
    <%= form.datetime_select :start_time, use_short_month: true, default: Time.parse('10:00') %>
  </div>
<% end %>
