<nav class="navbar1 mb-2">
  <ul class="navbar-nav">

    <li class="logo">
      <%= link_to root_path, class: "nav-link" do %>
        <i class="fa fa-chess"></i>
        <span class="link-text logo-text">Wack</span>
      <% end %>
    </li>

    <% if current_user && current_user.admin? %>
      <li class="nav-item">
        <%= link_to users_path, class: "nav-link" do %>
          <i class="fa fa-users"></i>
          <span class="link-text">All Users</span>
        <% end %>
      </li>
    <% end %>

    <li class="nav-item">
      <%= link_to workouts_path, class: "nav-link" do %>
        <i class="fa fa-dumbbell"></i>
        <span class="link-text">Workouts</span>
      <% end %>
    </li>

    <% if logged_in? %>
      <li class="nav-item">
        <%= link_to current_user, class: "nav-link" do %>
          <i class="fa fa-id-card"></i>
          <span class="link-text">Profile</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to edit_user_path(current_user), class: "nav-link" do %>
          <i class="fa fa-cog"></i>
          <span class="link-text">Settings</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to logout_path, method: :delete, class: "nav-link" do %>
          <i class="fa fa-user-alt-slash"></i>
          <span class="link-text">Logout</span>
        <% end %>
      </li>
    <% else %>
    <li class="nav-item">
      <%= link_to login_path, class: "nav-link" do %>
        <i class="fa fa-user"></i>
        <span class="link-text">Login</span>
      <% end %>
    </li>
    <% end %>

  </ul>
</nav>
